@import '../variables';

footer {
    background-color: $colorBlue;
    @include size(100%, 20vh);
    @include flex(center, center, row);
}

.footerContainer {
    @include flex(space-between, center, row);
    @include size(100%, 100%);
}

.iconsBox {
    @extend footer;
    @include size(40%, 100%);
}

.icons {
    @extend footer;
    @include size(15%, 100%);
}

.iconsImg {
    @include size(65%, 100%);
    cursor: pointer;
}

.listBox {
    @extend .footerContainer;
    @include size(50%, 100%);
}   

.list {
    @include size(100%, 100%);
    @include flex(space-evenly, center, row);
}

.listItem {
    @include size(15%, 100%);
    @include flex(center, center, column);
    @include font(1.5rem, 400, $family-principal, $colorWhite);

    &:hover {
        cursor: pointer;
        @include font(1.5rem, 700, $family-principal, $colorOrange);
    }
}