@import '../variables';

header {
    @include size(100%, 100vh);
    background-color: $colorBlue;
    overflow: hidden;
}

.headerContainer {
    @extend header;
    @include flex(space-around, center, column);
}

.boxList {
    @include size(100%, 10%);
    @include flex(center, center, row);
}

.lista {
    @include size(100%, 100%);
    @include flex(center, center, row);
    gap: 5rem;
    list-style: none;

    li {
        @include font(1.875rem, 400, $family-principal, $colorWhite);
    }

    li:hover {
        cursor: pointer;
        font-weight: 500;
    }

    @media only screen and (max-width: 1035px) {
        gap: 2rem;
    }

    @media only screen and (max-width: 660px) {
        li {
            font-size: 1.3rem;
            text-align: center;
        }
    }
}

.logoBox {
    @include size(100%, 80%);
    @include flex(center, center, row);

    h1 {
        @include font(4rem, 700, $family-principal, $colorWhite);
        user-select: none;
        text-align: center;
    }

    img {
        @include size(40rem, 20rem)
    }

    @media only screen and (max-width: 1035px) {
        @include flex(center, center, column);

        h1 {
            font-size: 3rem;
        }

        img {
            @include size(30rem, 15rem);
        }
    }
}